In [34]:
import csv
import numpy as np
import pandas as pd
import lxml
from bs4 import BeautifulSoup 
from urllib.request import urlopen
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains

<br>

<ul style="list-style-type:disc;">
  <li style = "font-family: Gulim; font-size:24px;line-height:1.4">
      <b> Scraping _ selenium mouse action<sup>1</sup> 활용 </b>
      <p style = "font-family: Gulim;font-size:16px;line-height:1.5"> Sactionchain 은 selenium에서 웹사이트와 low level interaction (마우스 움직임, 클릭, key press, drop down menu 등 확인) 을 할 수 있도록 돕는다.<br>- 우선 'from selenium.webdriver.common.action_chains import ActionChains' 로 import 를 한 후 <br>- driver.get(url) ; action = ActionChains(driver) 으로 action 이라고 하는 일종의 대리마우스(??)이자 event queue 를 만든다.<br>- action 에 저장(queued up)된 이벤트들은 perform() method 로 실제 적용이 된다.<br>- 메뉴를 클릭하여 바꿔야 하는 경우 click() 을 더한다.</p></li></ul>

In [162]:
address = []

chrome_driver_path = "C:/Sel/chromedriver.exe"
driver = webdriver.Chrome(chrome_driver_path)
url = 'https://www.coffeebeankorea.com/store/store.asp'
driver.maximize_window()

for i in range(13):
    driver.get(url)
    time.sleep(0.2)
    
    action = ActionChains(driver)
    
    # 지역검색 메뉴
    firstLevelMenu = driver.find_element_by_xpath('//*[@id="contents2"]/div[1]/div[2]/div[3]/h3[2]')
    action.move_to_element(firstLevelMenu).perform()
    firstLevelMenu.click()
    time.sleep(0.2)
    
    # 시/도 를 선택해주세요 메뉴
    sidoMenu = driver.find_element_by_xpath('//*[@id="contents2"]/div[1]/div[2]/div[3]/div[2]/div[1]')
    action.move_to_element(sidoMenu).perform()
    sidoMenu.click()
    time.sleep(0.2)

    # 각 시/도 별로 클릭 후 source 분석
    loca = driver.find_element_by_id('storeLocal')
    li = loca.find_elements_by_tag_name('li')  # elements -> 복수
    time.sleep(0.2)
    
    li[i].click()
    time.sleep(2)    
    # 이 부분에서는 loading 하는데 평균적인 경우보다 시간이 더 걸림. 
    # 서울의 경우 71 개의 li 가 있는데 time.sleep(0.2) 로 설정시 ~10 만 등록된 채로 scrap 당함. 
    # 따라서 시간을 줄이지 말고 진행
    
    source = driver.page_source

    bs = BeautifulSoup(source, 'lxml')
    ul_list = bs.find('ul', id = 'storeListUL')
    li_list = ul_list.find_all('li')
    
    for l in li_list:
        data = l.find('p', class_ = 'name').getText() + ', '+ l.find('p', class_= 'address').getText()
        address.append(data)
        
# '커피빈 웹페이지 -> 지역 검색'에 따르면 2019 8월 현재 전국 총 매장 수는 153
print(len(address))

153

In [163]:
address

[' 서초동점 자세히보기 ,  서울특별시 서초구 반포대로70 ',
 ' 교대법원점 자세히보기 ,  서울 서초구 서초중앙로 156, 1층 ',
 ' 동대입구역점 자세히보기 ,  서울시 중구 장충동2가 188-11, 188-4, 188-5 ',
 ' 잠실향군타워점 자세히보기 ,   서울특별시 송파구 올림픽로35길 123 1층 ',
 ' 종로센트로폴리스점 자세히보기 ,  서울시 종로구 우정국로 26 센트로폴리스 1층 Retail 1-5,6 ',
 ' 상수역점 자세히보기 ,  서울시 마포구 와우산로10길 3, 엘케이빌딩 1~3층 ',
 ' 종로구청앞점 자세히보기 ,  서울특별시 종로구 종로3길 34 ',
 ' 경희대점 자세히보기 ,  서울시 동대문구 경희대로 10 (회기동) ',
 ' 문정동환인제약빌딩점 자세히보기 ,  서울특별시 송파구 법원로6길 11 환인빌딩 1층  ',
 ' 새문안로점 자세히보기 ,  서울특별시 종로구 새문안로 91 고려빌딩 1,2층  ',
 ' 선릉역3번출구세방빌딩점 자세히보기 ,  서울특별시 강남구 선릉로 433 세방빌딩 1층 ',
 ' 신용산역래미안점 자세히보기 ,  서울시 용산구 한강대로95 ',
 '  IFC MALL3호점 자세히보기 ,  서울시 영등포구 국제금융로10 IFC Mall L2(2층) ',
 ' 방이역4번출구점 자세히보기 ,  서울 송파구 방이동 206-11 ',
 ' 마곡마커스빌딩점  자세히보기 ,  서울특별시 강서구 마곡동로 55 마커스빌딩 1층 ',
 ' 양천향교역점 자세히보기 ,  서울특별시 강서구 강서로 457(마곡동) ',
 ' 응암동점  자세히보기 ,  서울시 은평구 은평로 121(응암동), 메디컬빌딩 ',
 ' 동교동삼거리점 자세히보기 ,  서울특별시 마포구 양화로 196(동교동) ',
 ' 논현201-5번지점 자세히보기 ,  서울특별시 강남구  강남대로112길 20 1층, 2층 ',
 ' 한티역디마크빌딩점 자세히보기 ,  서울특별시 강남구 도곡로 408 디마크빌딩 1층 ',
 ' 한성대입구역점 자세히보기 ,  서울특별시 성북구 삼선교로 12 1층 ',
 ' 혜화역1번출구점 자세히보기 ,  서울특별시 종로구 대학로 128 2층 ',
 ' 위례2차아이파크점 자세히보기 ,  서울시 송파구 위례광장로 230 위례2차 아이파크 B동 1층 ',
 ' 신논현역2번출구점 자세히보기 ,  서울시 서초구 강남대로 475 2층 ',
 ' 합정푸르지오점 자세히보기 ,  서울특별시 마포구 월드컵로 3길 14, 푸르지오 2차 1층 ',
 ' 현대시티몰가든파이브점 자세히보기 ,  서울특별시 송파구 충민로 66 가든파이브 라이프동 테크노관 1층 ',
 ' 여의도SK증권빌딩점 자세히보기 ,  서울특별시 영등포구 국제금융로8길31 여의도SK증권빌딩점 1층 ',
 ' 구의삼성쉐르빌점 자세히보기 ,  서울특별시 광진구 구의강변로 106 삼성쉐르빌 1층 ',
 ' 강북구청앞점 자세히보기 ,  서울특별시 강북구 한천로 139길 25, 1층 일부 및 2층 (수유동 191-70) ',
 ' 도곡동지오빌딩점 자세히보기 ,  서울특별시 강남구 도곡동 543-1, 지오빌딩 B1층 ',
 ' 몽촌토성역점 자세히보기 ,  서울시 송파구 방이동 44-2, 장은빌딩 1층 ',
 ' 종각역점 자세히보기 ,  서울시 종로구 종로 70 2층 ',
 ' 합정역점 자세히보기 ,  서울시 마포구 독막로 13, 2층 ',
 ' 노원역점 자세히보기 ,  서울시 노원구 노해로 490, 길빌딩 2층 ',
 ' 강동경희대병원앞점 자세히보기 ,  서울특별시 강동구 동남로 885 양지빌딩 1층 ',
 ' 상봉역점 자세히보기 ,  서울특별시 중랑구 망우로 291 1층 ',
 ' 문정역엠스테이트점 자세히보기 ,  서울 송파구 문정동 643-1번지 엠스테이트 B동 지하1층 ',
 ' 송파파크하비오점 자세히보기 ,  서울특별시 송파구 송파대로 111 송파파크하비오 205동 1층 110-113 ',
 ' 서초부띠크모나코점 자세히보기 ,  서울특별시 서초구 서초대로 397 부띠크모나코 1층 ',
 ' 강남역12번출구점 자세히보기 ,  서울특별시 강남구 테헤란로 111 2층 ',
 ' 송파파크하비오B1점 자세히보기 ,  서울특별시 송파구 송파대로 111, 송파 파크하비오 하비오길 극장로 203동 지하1층 ',
 '  홍대역8번출구점 자세히보기 ,  서울시 마포구 양화로18안길 7 2층 ',
 ' 천호역점 자세히보기 ,  서울시 강동구 올림픽로 659 쌍용플래티넘리버 1층 ',
 ' 잠원논현역점 자세히보기 ,  서울시 서초구 신반포로47길 5 건물전체 1~3층 ',
 ' 역삼동태광타워점 자세히보기 ,  서울시 강남구 역삼동 718-20  태광타워 1층 ',
 ' 문래동점 자세히보기 ,  서울시 영등포구 문래동6가 5번지 1층 ',
 ' 매헌역점 자세히보기 ,  서울시 서초구 동산로 1  1층 ',
 ' 대치사거리점 자세히보기 ,  서울시 강남구 삼성로 352 창진빌딩 1층 및 2층 ',
 ' 서초역1번출구점 자세히보기 ,  서울시 서초구 서초대로 250 스타갤러리 브릿지 1층 101호 ',
 ' 장안점 자세히보기 ,  서울시 동대문구 장안동 372-1, 1층 일부 및 2층 전체 ',
 ' 연대동문회관점 자세히보기 ,  서울시 서대문구 대신동 50-5 1층,2층(B동) ',
 ' 상암DDMC점 자세히보기 ,  서울시 마포구 상암동 1610번지 DDMC 지하 1층 ',
 ' 강서그랜드아이파크점 자세히보기 ,  서울시 강서구 화곡6동 1095번지 1층 ',
 ' 신논현역점 자세히보기 ,  서울특별시 강남구 봉은사로108 글라스톤빌딩1층 ',
 ' 대치동나무병원점 자세히보기 ,  서울특별시 강남구 영동대로 225 나무병원1층 (대치동994-5) ',
 ' 구로AK플라자점 자세히보기 ,  서울특별시 구로구 구로중앙로 152 (구로동) AK플라자구로점1층 ',
 ' 상암한국지역정보개발원점 자세히보기 ,  서울시 마포구 성암로301 KLID한국지역정보개발원 1층 ',
 ' 포스코옆삼성로86길점 자세히보기 ,  서울특별시 강남구 삼성로86길 11 거봉빌딩 1층 ',
 ' 삼성역글라스타워뒷점 자세히보기 ,  서울시 강남구 영동대로85길 9 (대치동) 서전빌딩1층 ',
 ' 예술의전당앞점 자세히보기 ,  서울특별시 서초구 반포대로4(서초동) 2층, 3층 ',
 ' 고대참살이길점 자세히보기 ,  서울시 성북구 인촌로24길 25 (안암동5가) 2층,3층 ',
 ' 올림픽공원북2문앞점 자세히보기 ,  서울시 강동구 강동대로193 1층 ',
 ' 명동M플라자점 자세히보기 ,  서울시 중구 명동8길 27(명동2가) ',
 ' 을지로입구역점 자세히보기 ,  서울시 중구 남대문로10길 6 1,2층  ',
 ' 오목교역사거리점 자세히보기 ,  서울시 양천구 오목로 350 목동썬텍씨티빌딩 1층,2층 ',
 ' 석촌호수점 자세히보기 ,  서울시 송파구 석촌호수로 222 제이타워 1층 ',
 ' 용산아이파크몰점 자세히보기 ,  서울시 용산구 한강대로23길55 현대아이파크몰용산 서관6층 ',
 ' 낙성대역점 자세히보기 ,  서울시 관악구 남부순환로1909 1,2층 ',
 ' 신천역점 자세히보기 ,  서울시 송파구 올림픽로100 효창타워1층 ',
 ' 강남오토스퀘어점 자세히보기 ,  서울시 강남구 강남대로350 ',
 ' 남양주화도DT점 자세히보기 ,  경기도 남양주시 화도읍 묵현리 411-4 ',
 ' 김포장기DT점 자세히보기 ,  경기도 김포시 태장로 819 ',
 ' 부천북부역사거리점 자세히보기 ,  경기도 부천시 부천로25 ',
 ' 하남신세계백화점 B1점 자세히보기 ,  경기도 하남시 미사대로 750, 신세계백화점 지하1층 식품관 ',
 ' 안양시청앞점 자세히보기 ,  경기도 안양시 동안구 시민대로 260, 1층 104,105호 ',
 ' 파주DT점 자세히보기 ,  경기도 파주시 문발로 131 ',
 ' 광명아브뉴프랑점 자세히보기 ,  경기도 광명시 양지로16 아브뉴프랑 지하 2층 (주)커피빈코리아 광명아브뉴프랑점 ',
 ' 분당차병원본관앞점 자세히보기 ,  경기도 성남시 분당구 야탑로64 DS타워 1층 ',
 ' 수원인계DT점 자세히보기 ,  경기 수원시 인계동 967-4, 967-1번지 건물 1~3층  ',
 ' 동탄능동DT점 자세히보기 ,  경기도 화성시 능동 453-4,453-8,454-1 소재 건물(1~3층) ',
 ' 성균관대 자연과학캠퍼스점 자세히보기 ,  경기 수원시 장안구 서부로 2066, 성균관대 자연과학 캠퍼스 N센터 1층 ',
 ' 서수원이마트점 자세히보기 ,  경기도 수원시 권선구 수인로 291(구운동), 이마트 서수원점 1층 ',
 ' 성남신흥점 자세히보기 ,  경기도 성남시 수정구 수정로 190 (신흥동) ',
 ' 수원송죽DT점 자세히보기 ,  경기도 수원시 장안구 경수대로 989 ',
 ' 평택소사점 자세히보기 ,  경기도 평택시 평남로 862, 로이드빌딩 1층 ',
 ' 화정중앙공원점 자세히보기 ,  경기도 고양시 덕양구 화신로260번길 26 동민프라자 1층 103~107호 ',
 ' 안양1번가점 자세히보기 ,  경기도 안양시 만안구 안양로304번길 12 세진빌딩 2층 ',
 ' 부천상동점 자세히보기 ,  경기도 부천시 길주로 111 센타플라자 1층 ',
 ' 산본역점 자세히보기 ,  경기도 군포시 광정로58 1층 104호 및 2층 ',
 ' 강남대점 자세히보기 ,  경기도 용인시 기흥구 강남로 3 강남앤플러스 1층 ',
 ' 파주운정홈플러스점 자세히보기 ,  경기도 파주시 청암로 17번길 17 1층 ',
 ' 수지동천점 자세히보기 ,  경기 용인시 수지구 손곡로 95 송란빌딩 1층 ',
 ' 수원망포역점 자세히보기 ,  경기도 수원시 영통구 영통로 214번길 8 1층 ',
 ' 부천역점 자세히보기 ,  경기도 부천시 부천로4 2층 ',
 ' 수원역점 자세히보기 ,  경기도 수원시 팔달구 매산로 11,  2층 ',
 ' 마두역점 자세히보기 ,  경기도 고양시 일산동구 중앙로 1193 마두법조빌딩 1층 ',
 ' 평촌점 자세히보기 ,  경기도 안양시 동안구 시민대로327번길 6, W 에이스타워 1층 ',
 ' 분당정자점 자세히보기 ,  경기도 성남시 분당구 정자일로 227(정자동) 백궁지엔느주차전용빌딩 1층 ',
 ' 판교알파돔시티점 자세히보기 ,  경기도 성남시 분당구 판교역로145(백현동) 판교알파돔 C2-3블럭 1층 ',
 ' 범계역로데오점 자세히보기 ,  경기도 안양시 동안구 평촌대로 223번길 41(호계동 1045-9) 2층 ',
 ' 이천하이닉스점 자세히보기 ,  경기 이천시 부발읍 하이닉스반도체 ',
 ' 광교아브뉴프랑점 자세히보기 ,  경기도 수원시 영통구 이의동 1332 광교아브뉴프랑 1층 A122,123호  ',
 ' 현대프리미엄아울렛 김포점 자세히보기 ,  경기 김포시 고촌읍 전호리 654번지 현대프리미엄아울렛김포3층 618호 ',
 ' 남양연구소PT동점 자세히보기 ,  경기도 화성시 장덕동 현대연구소로150 현대자동차남양연구소 PT동 1층 ',
 ' 오리역애플플라자점 자세히보기 ,  경기도 성남시 분당구 탄천상로151번길20 월드쇼핑 B동 1층 ',
 ' 현대자동차구리점 자세히보기 ,  경기도 구리시 검배로3 현대자동차1층 ',
 ' 현대자동차남양연구소C1식당점 자세히보기 ,  경기 화성시 장덕동 현대연구소로150 현대자동차남양연구소 C1구역식당1F ',
 ' 일산원마운트점 자세히보기 ,  경기도 고양시 일산서구 한류월드로 300 원마운트스포츠몰 1층 ',
 ' 판교아브뉴프랑점 자세히보기 ,  경기도 성남시 분당구 동판교로177번길 25 ',
 ' 수원인계점 자세히보기 ,  경기도 수원시 팔달구 권광로 195 학산빌딩1층  ',
 ' 현대자동차남양연구소점 자세히보기 ,  경기도 화성시 장덕동 현대연구소로150 현대자동차남양연구소 설계1동1F ',
 ' 일산킨텍스현대백화점점 자세히보기 ,  경기도 고양시 일산서구 대화동 2602 현대백화점킨텍스점 5F ',
 ' 동탄라마다호텔점 자세히보기 ,  경기도 화성시 노작로 199 동탄라마다호텔107호~111호 ',
 ' 분당수내점 자세히보기 ,  경기도 성남시 분당구 황새울로 214번길8 MSPlaza내1층 ',
 ' 분당차병원점 자세히보기 ,  경기도 성남시 분당구 야탑동354 분당차병원신관1층분당차1호 ',
 ' 분당플라자점 자세히보기 ,  경기도 성남시 분당구 황새울로 326 서현빌딩상가내2층 ',
 ' 분당서현점 자세히보기 ,  경기도 성남시 분당구 분당로53번길 11 1층2,3호 ',
 ' 중동현대백화점U-PLEX점 자세히보기 ,  경기도 부천시 원미구 길주로 180 현대백화점 B1-120,121호 ',
 ' 일산웨스턴돔2호점 자세히보기 ,  경기도 고양시 일산동구 정발산로 24 웨스턴돔 A-303 ',
 ' 일산웨스턴돔1호점 자세히보기 ,  경기도 고양시 일산동구 정발산로 24 I동103~203호 ',
 ' 일산라페스타점 자세히보기 ,  경기도 고양시 일산동구 장항동 764 라페스타C동 ',
 ' 영종도운서역점 자세히보기 ,  인천시 중구 신도시남로 142번길 6 (메가스타 영종 139,140,141호) ',
 ' 인천공항 제2여객터미널 입국점 자세히보기 ,  인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124) ',
 ' 송도트리플스트리트점 자세히보기 ,   인천 연수구 송도과학로 16번길 33-4 D동 119호,207호 ',
 ' 송도홈플러스점 자세히보기 ,  인천광역시 연수구 송도국제대로 165(송도동) 홈플러스송도점1층 ',
 ' 공항탑승동105gate앞점 자세히보기 ,  인천광역시 중구 공항로272 인천국제공항탑승동3층 FB-C5-68 ',
 ' 공항탑승동130gate앞점 자세히보기 ,  인천광역시 중구 공항로272 인천국제공항탑승동3층 FB-C5-57 ',
 ' 부평문화의거리점 자세히보기 ,  인천광역시 부평구 시장로29 1,2층 ',
 ' 인천구월동점 자세히보기 ,  인천광역시 남동구 예술로 138 지상1,2층 ',
 ' 원주AK플라자점 자세히보기 ,  강원도 원주시 봉화로1 AK플라자원주점 1층 ',
 ' 창원시티세븐점 자세히보기 ,  경남 창원시 의창구 원이대로 320 더시티세븐 1F Skycone 105호 ',
 ' 진주LH본사점 자세히보기 ,  경상남도 진주시 충의로 19 LH진주사옥 홍보관1층 ',
 ' 창원상남동점 자세히보기 ,  경남 창원시 성산구 중앙대로 104 마이우스오피스텔 123호 207호 ',
 ' 경주미탐시티점 자세히보기 ,  경상북도 경주시 엑스포로80(천군동)1층 ',
 ' 포항영일대점 자세히보기 ,  경상북도 포항시 북구 삼호로265번길1 NB-City복합시설1층104호 ',
 ' 광주상무역점 자세히보기 ,  광주 서구 상무중앙로 9, 동양빌딩 1F ',
 ' 대구중앙로점 자세히보기 ,  대구광역시 중구 중앙대로 412-18 ',
 ' 대전탄방동점 자세히보기 ,  대전시 서구 문정로76 1층 ',
 ' 대전둔산동점 자세히보기 ,  대전광역시 서구 둔산로26 소레빌딩 ',
 ' 부산남포역점 자세히보기 ,  부산 중구 해관로 1 희남빌딩 1층 ',
 ' 해운대센텀호텔점 자세히보기 ,  부산 해운대구 센텀3로 20 해운대센텀호텔 1F 101호 ',
 ' 부산서면점 자세히보기 ,  부산 부산진구 서면로 62-1 에이스메디컬타워 1F ',
 ' 부산서면서전로점 자세히보기 ,  부산광역시 부산진구 서전로 12, 1층 ',
 ' 부산정관점 자세히보기 ,  부산광역시 기장군 정관로 563 1층,2층 ',
 ' 부산수영역점 자세히보기 ,  부산광역시 수영구 수영로 667 1층 ',
 ' 해운대점 자세히보기 ,  부산시 해운대구 해운대 해변로277 다옴빌딩1층 ',
 ' 부산광복동점 자세히보기 ,  부산광역시 중구 창선동 2가 8-2 ',
 ' 울산현대백화점점 자세히보기 ,  울산광역시 남구 삼산로 261 현대백화점5층 ',
 ' 울산업스퀘어점 자세히보기 ,  울산광역시 남구 화합로 185 업스퀘어 1층 ',
 ' 천안신부동점 자세히보기 ,  충남 천안시 동남구 만남로 48(신부동) ',
 ' 고대세종캠퍼스점 자세히보기 ,  세종특별자치시 세종로 2511 고대세종캠퍼스호연학사4관1층 ',
 ' 청주지웰시티점 자세히보기 ,  충북 청주시 흥덕구 대농로 17 지웰시티몰 1층 124-1,125,126호 ',
 ' 청주점 자세히보기 ,  충북 청주시 상당구 상당로69번길20 2~4층 ']

<br>

<ul style="list-style-type:disc;">
  <li style = "font-family: Gulim; font-size:24px;line-height:1.4">
      <b> 후처리_ 결과 dataframe화 및 시군구별 카운트  </b>
        <ol type = "A">
            <li style = "font-family: Gulim;font-size:16px;line-height:1.5"> 커피빈의 경우 매장마다 '시도' 가 full 과 축약형이 섞여있음. 각각 다른 값으로 인식되기 때문에 처리. (ex. 서울특별시 강남구 != 서울시 강남구)</li>
            <li style = "font-family: Gulim;font-size:16px;line-height:1.5"> Ediya 의 경우 text 가 '매장이름 + full 주소' 로 이루어짐. 매장이름과 주소를 떼어내기 위해 split(). split 결과의 index 0 은 매장이름.<br> <b>+ </b>  cartography의 ID를 만들기 위해 시도, 군구를 나눈다. 따라서 '안양SK  V1점' 와 세종특별자치시 (이 둘은 따로 처리) 제외 나머지는 a[1] = 시도, a[2] = 군구 로 나누어준다.</li>
<li style = "font-family: Gulim;font-size:16px;line-height:1.5"> draw_korea 와 호환하는 ID 만들기. 이 과정 중에 알 수 없는 이유로 인해 '군구' 데이터 중 일부가 float 형식으로 인식됨. 고로 applymap(str) 을 사용하여 전 데이터를 미리 string 으로 만든다. 시도 와 군구 를 나누면서 고성군 (강원, 경남) 는 각각 (강원), (경남) 로 구분. </li>
<li style = "font-family: Gulim;font-size:16px;line-height:1.5">draw_korea 에서는 거대 도시 (수원~부천 등 12개) 에서는 각각의 '자치구' 를 따로 정의, ID 로 만듦. 문제는 매장 주소는 일부는 자치구가 있으나 (ex. 부천시 원미구 상동) 일부는 도로명 주소여서인지 왜인지,,,구가 없다 (ex. 부천시 부흥로 472). 그래서 이 부분은 후에 draw_korea의 ID에서 자치구를 없애고 모두 한 도시이름으로 변형하겠다.

In [167]:
df_address = pd.DataFrame(columns = ['시도', '군구','커피빈_나머지데이터'])
n = 0
for ad in address :
    # name1 , add1 = ad.split(',') 으로 한 번에 풀 수 있을 것 같은데 자꾸 에러가 남.
    # 우선 각자 진행.
    ad1 = ad.split(',')[1]
    a = ad1.split()
    if len(a[0]) >= 3:
        if a[0][2:] in ['시','광역시', '특별시', '도']:
            a[0] = a[0][:2]
        elif a[0][3]  == '도':
            a[0] = a[0][0] + a[0][2]      
    df_address.loc[n, '시도'] = a[0]
    
    if a[1] == '고성군':
        if a[0] == '강원':
            df_address.loc[n, '군구'] = '고성군(강원)'
        else:
            df_address.loc[n, '군구'] = '고성군(경남)'  
    elif a[0] == '세종특별자치시':
        df_address.loc[n, '군구'] = '세종'
    else:
        if len(a[1]) >= 4:
            df_address.loc[n, '군구'] = a[1][:3]
        else: 
            df_address.loc[n , '군구'] = a[1]
    df_address.loc[n, '커피빈_나머지데이터'] = ' '.join(a[2:])
    n += 1
len(df_address)

153

In [169]:
df_address[100:110]  # 가장 먼저 뽑힌 서울이 총 70 개 매장을 가지고 있는지 확인

     시도   군구                         커피빈_나머지데이터
100  경기  이천시                        부발읍 하이닉스반도체
101  경기  수원시       영통구 이의동 1332 광교아브뉴프랑 1층 A122
102  경기  김포시   고촌읍 전호리 654번지 현대프리미엄아울렛김포3층 618호
103  경기  화성시    장덕동 현대연구소로150 현대자동차남양연구소 PT동 1층
104  경기  성남시         분당구 탄천상로151번길20 월드쇼핑 B동 1층
105  경기  구리시                       검배로3 현대자동차1층
106  경기  화성시  장덕동 현대연구소로150 현대자동차남양연구소 C1구역식당1F
107  경기  고양시         일산서구 한류월드로 300 원마운트스포츠몰 1층
108  경기  성남시                   분당구 동판교로177번길 25
109  경기  수원시                 팔달구 권광로 195 학산빌딩1층

In [170]:
# 만일을 대비해 df_address 내의 모든 데이터를 string 형식으로 전환
df_ID = df_address.applymap(str)
df_ID.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 3 columns):
시도            153 non-null object
군구            153 non-null object
커피빈_나머지데이터    153 non-null object
dtypes: object(3)
memory usage: 9.8+ KB

In [171]:
special_cities =  ['서울',  '인천',  '대전', '대구', '울산', '부산', '광주']
over3_gungu = ['고성(강원)', '고성(경남)','동두천', '의정부', '일산동', '남양주', '일산서', '서대문', '동대문', '영등포', '부산진', '해운대', '서귀포']

In [172]:
df_ID['ID'] = np.nan

n = len(df_ID)

for i in range(n):
    # 군구 중 원래 3음절이 아닌 경우 맨 끝의 '구' 또는 '시' 를 떼어낸다
    if df_ID.loc[i, '군구'] not in over3_gungu and len(str(df_ID.loc[i, '군구'])) >= 3:
        df_ID.loc[i,'군구'] = str(df_ID.loc[i, '군구'])[0:-1]
    # 시도 가 특별시, 광역시 등일 경우 draw_korea 와 호환을 위해 ID 에 포함한다.
    if df_ID.loc[i, '시도'] in special_cities:
        df_ID.loc[i, 'ID'] = df_ID.loc[i, '시도'] +' '+ str(df_ID.loc[i, '군구'])
    else:
        df_ID.loc[i, 'ID'] = df_ID.loc[i, '군구']

In [175]:
df_ID.tail()

          시도  군구                 커피빈_나머지데이터     ID
148       울산  남구            화합로 185 업스퀘어 1층  울산 남구
149       충남  천안            동남구 만남로 48(신부동)     천안
150  세종특별자치시  세종       2511 고대세종캠퍼스호연학사4관1층     세종
151       충북  청주  흥덕구 대농로 17 지웰시티몰 1층 124-1     청주
152       충북  청주         상당구 상당로69번길20 2~4층     청주

In [177]:
df_ID.to_csv("data_soomin/커피빈_기본.csv",encoding='utf-8-sig')

In [179]:
df_count= pd.DataFrame(df_ID.groupby(df_ID.ID).count()['군구'])
df_count1 = df_count.rename(columns = {'군구':'커피빈_빈도'})
df_count1.head()

       커피빈_빈도
ID
경주          1
고양          7
광명          1
광주 서구       1
구리          1

In [180]:
df_count1.to_csv("data_soomin/커피빈_시군구별카운트.csv",encoding='utf-8-sig')
df_count1.to_csv("data_soomin/커피빈_시군구별카운트_euckr인코딩.csv")

---------------------
<p style = "font-family:Gulim; font-size:26px;font-weight:bold">참조 링크 </p>
<br>


1. [Mouse Over actions using Python Selenium WebDriver](http://allselenium.info/mouse-over-actions-using-python-selenium-webdriver/), ALL SELENIUM